
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html {
    background-color: white;
}

.ccHero::before {
    content: "<3"
} 

@layer utilities {
    @variants responsive {
      .masonry {
        column-count: 3;
        column-gap: 2rem;
      }
      .masonry-2 {
        column-count: 2;
        column-gap: 2rem;
      }
      .masonry-1 {
        column-count: 1;
        column-gap: 2rem;
      }
      .break-inside {
        break-inside: avoid;
      }
    }
  }